*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
    scroll-behavior: smooth;
}
p{
    font-weight: 300;
    color: black;
}
header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.logo{
   /* color: #fff; */
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: tomato;
}
.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    /* color: #fff; */
    text-decoration: none;
    margin-left: 40px;
    font-weight: 1000;
}
img{
width:1500px;
width: calc(100% - 20px);
}
.btn-acheter{
    padding: 10px 20px;
    background: #41b6e9;
    margin-top: -10px;
    text-transform: uppercase;
}